/*
This is free to whoever can use it.  I wrote this with help from Jon Duckett, w3schools, 
mozilla webdev docs, CCAC, and others.  As of today, October 3 2018 I am fraggin'
proud of the @keyframes that I wrote to move icons around.  holler for a doller because
javascript can suck it...just kidding it's neat but I can not find any time to learn it.
Please send any suggestions to adamgutonski@protonmail.com
*/
/* 
October 3, 2018 10:31 pm
Author     : Adam Gutonski
*/
@keyframes moveIt {
    50% {transform: translateY(100px);}
    100% {transform: translateY(0px);}
}
@keyframes slowDrip {
    from {top: 0px;}
    to {top: 200px;}
}
@media screen and (max-width: 320px) {
    .material-icons.md-48 {
        color: blue;
        font-size: 10px;
    }
}

@media screen and (min-width: 321px) and (max-width: 799px){
    .material-icons.md-48 {
        color: green;
        font-size: 50px;
    }
}
@media screen and (min-width: 800px) {
    .material-icons.md-48 {
        font-size: 100px;
    }
}
#name > i:hover {
    animation-name: moveIt;
    animation-duration: 3s;
}