/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2017, 10:41:32 PM
    Author     : Adam Gutonski
*/

#navbar-override {
    background-color:  #dae6ef;
}
/*this > points through the different elements to change the font color for <a>*/
#myNavbar > ul > li > a {
    color: black;
    margin-top: 5px;
}
#face-override{
    margin-top: 10px;
}