/*
This is free to whoever can use it.  I wrote this with help from Jon Duckett, w3schools, 
mozilla webdev docs, CCAC, and others.  10/3/18 -- the @keyframes that I wrote to move icons around. 
is not in spite of javascript...time constraints have prevented me from effectively learning JS.
Please send any suggestions to adamgutonski@protonmail.com
*/
/* 
October 3, 2018 10:31 pm
Author     : Adam Gutonski
*/
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}

@keyframes moveIt {
    from {transform: none; opacity: 1;}
    to {transform: rotate(360deg); opacity: .2;}
}
@keyframes slowDrip {
    0% {top: 0px;}
    100% {top: 200px;}
}
@media screen and (max-width: 320px) {
    .material-icons.md-48 {
        font-size: 24px;
    }
    .mainCanvas {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 321px) and (max-width: 799px){
    .material-icons.md-48 {
        font-size: 50px;
    }
}
@media screen and (min-width: 800px) {
    .material-icons.md-48 {
        font-size: 100px;
    }
}
body {
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Verdana, sans-serif;
    
}
#mainContainer{
    animation-name: fadeIn;
    animation-duration: 6s;
}
#feature, #header, #about, #footer, #col1, #col2, #col3,
#col4, #col5, #col6 {
    text-align: center;
}
#content, #content2 {
    overflow: none;
}
#about, #feature, #footer {
    margin: 1%;
}
#col1, #col2, #col3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}
#col4, #col5, #col6 {
    width: 31.3%;
    float: left;
    margin: 1%;
}
#about, #footer {
    padding: 0.5em 0;
}
#feature, #col1, #col2, #col3 {
    height: 10em;
    margin-bottom: 1em;
}
#feature > img {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
#col1 > a, #col2 > a, #col3 > a, #col4 > a, #col5 > a, #col6 > a {
    text-decoration: none;
    color: inherit;
}
#col1 > a > i:hover, #col2 > a > i:hover, #col3 > a > i:hover,
#col4 > a > i:hover, #col5 > a > i:hover, #col6 > a > i:hover {
    animation-name: moveIt;
    animation-duration: 5s;
}
/***********************************/
/*Begin CSS specific to python.html*/
/***********************************/
#pythProj1, #pythProj2  {
    width: 99%;
    margin: 1%;
}
#pythProj1 > p {
    
}
/*Best formatting i have found for keeping images centered*/
#pythProj1 > img, #pythProj2 > img {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
}
#pythProj1 > a, #pythProj2 > a {
    text-decoration: none;
    color: inherit;
}
#pythProj2 > p > a {
    color: inherit;
}
/**************************************/
/*Begin CSS specific to java/java.html*/
/**************************************/
#javaAbout > h3 > a {
    color: inherit;
}
#javaProj1  {
    width: 99%;
    margin: 1%;
}
#javaProj1 > p {
    
}
/*Best formatting i have found for keeping images centered*/
#javaProj1 > img {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
}
#javaProj1 > a {
    text-decoration: none;
    color: inherit;
}
/**************************************/
/*Begin CSS specific to bib/bibliography.html*/
/**************************************/
#bibContent {
    width: 93%;
    float: left;
}
#bibFooter {
    width: 93%;
    float: left;
    text-align: center;
}

/**************************************/
/*Begin CSS specific to js/js_practice.html*/
/**************************************/
#jsContent {
    width: 99%;
    float: left;
}

#jsContent {
    text-align: center;
}

#jsContent > #mainCanvas {
	width: 400px;
	height: 400px;
	border: solid 1px black;
}

#jsFooter {
    width: 93%;
    float: left;
    text-align: center;
}
