/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2017, 10:41:32 PM
    Author     : Adam
*/

body {
   width:800px;
        margin-left:auto;
        margin-right:auto;
    
}
div.intro {
     width:600px;
        height: 900px;
        margin-left:auto;
        margin-right:auto;
        font-family: 'VT323', monospace;
        color: black;
        background-color:#e5e5e5;
}
div.maincontainer {
        width:600px;
        height: 900px;
        margin-left:auto;
        margin-right:auto;
        font-family: 'VT323', monospace;
        color: black;
        transform: translateX(70px);
        
}

h1 {
    font-family: 'Open Sans', cursive;
    color: black;
    text-align: center;
    font-size: 100px;
}
h2 {
    font-family: 'Amatic SC', cursive;
    color: black;
    text-align: center;
    font-size: 40px;
    transform: translateY(-50px);
}
div.navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    
}

div.navbar li {
    font-family: 'Amatic SC', cursive;
    color: black;
    text-align: center;
    width: 25%;
     background-color: #e5e5e5;
}

div.navbar li img{
  max-height: 50%;
  max-width: 50%;
  text-align: center;
  margin-top: 15px;
  transform: translateY(-20px);
  border: solid black 1px;
}

div.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size:40px;
    background-color: #e5e5e5;
   
}

div.navbar li a:hover {
    background-color: #111111;
    opacity: .25;
    color: white;
}

div.navbar li a:active {
    color: blue;
    background-color: red;
}


div.texttest {
    font-size: 50px;
    overflow: hidden;
    background-color:#e5e5e5;
    border: 1px solid black;
}
div.textTest2 {
    font-size: 20px;
    font-family: 'VT323', monospace;
    overflow-x: hidden;
    overflow-y: scroll;
    width:600px;
        height: 400px;
        margin-left:auto;
        margin-right:auto;
}

div.textTest2 h1{
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 30px;
}
div.textTest2 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
    
}
div.textTest2 i{
    float: right;
    transform: translateX(-365px);
}
div.textTest2 img {
  max-height: 200%;
  max-width: 200%;
}
div.lotIcon{
    margin-top: 15px;
}
div.lotIcon2{
    margin-top: 15px;
}
div.lotIcon2 i{
    transform: translateX(-425px);
}
em{
    color:  #808080; 
}


