/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2017, 10:09:56 AM
    Author     : adam.gutonski
*/
body {
   width:800px;
   margin-left:auto;
   margin-right:auto;
   font-family: 'Amatic SC', cursive;
    
}
div.maincontainer {
        width:800px;
        margin-left:auto;
        margin-right:auto;
        color: black;
        overflow: auto;
        background-color:#e5e5e5; 
}
h1 {
    text-align: center;
    font-size: 100px;
}
h2 {
    text-align: center;
    font-size: 40px;
    transform: translateY(-50px);
}
div.navbar ul {
    list-style-type: none;
    margin: auto;
    margin-top: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #e5e5e5;
    
}

div.navbar li {
    float: left;
    font-family: 'Amatic SC', cursive;
    color: black;
    text-align: center;
    transform: translateX(35px);
}

div.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size:40px;
}

div.navbar li a:hover {
    background-color: #111111;
    opacity: .25;
    color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  
}
.fa-facebook {
  background: #007bb5;
  color: white;
  font-size: 40px;
  background-size: 40px;
  width: 70px;
}
.fa-facebook:hover {
    background-color: #00ccff
        
}

.fa-facebook:active {
  background-color:  #007bb5;
  box-shadow: 0 10px #000000;
  transform: translateY(2px);
}
div.body {
    text-align: center;
}
div.body p{
    background-color: #e5e5e5;
    margin-top: 10px;
    padding: 0px;
    font-size: 40px;
}